/*@font-face {*/
/*    font-family: 'Okta Neue';*/
/*    src: url('../fonts/OktaNeue-UltraLight.eot');*/
/*    src: url('../fonts/OktaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),*/
/*    url('../fonts/OktaNeue-UltraLight.woff2') format('woff2'),*/
/*    url('../fonts/OktaNeue-UltraLight.woff') format('woff'),*/
/*    url('../fonts/OktaNeue-UltraLight.ttf') format('truetype'),*/
/*    url('../fonts/OktaNeue-UltraLight.svg#OktaNeue-UltraLight') format('svg');*/
/*    font-weight: 200;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/


body {
    /*font-family: Apple ,"sans-serif", inherit;*/
    padding-top: 40px;
}

.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}

div.filters {
    padding-bottom: 5px;
}

#total_price {
    place-self: flex-start;
    display: initial;
    flex-grow: 2;
    text-align: end;
}

#degenerad {
    text-align: start;
}

h3, h1 {
    /*font-family: "Okta Neue", "Arial", sans-serif;*/
    font-weight: 300;
    margin-bottom: 0;
    text-decoration: none;

}

p {
    margin-bottom: 0;
}

a.btn, button.btn {
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
    color: #007bff;
}

#color {
    color: black;
}

#color.btn.focus, #color.btn:focus {
    color: #c82333;
}

#checkout {
    color: #007bff;
}

#checkout.focus, #checkout:focus {
    color: black;
}

#rgb {
    color: black;
    font-size: 30px;
    font-weight: 300;
}

#rgb.focus, #rgb:focus {
    color: #007bff;
}

.inputstyle:focus {
    box-shadow: none;
    border-color: #007bff;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#font {
    text-decoration: none;
    list-style: cjk-ideographic;
    color: #c82333;
    margin-top: 30px;
}

.navstyle {
    flex-flow: row nowrap;
    flex-basis: 30%;
    align-items: flex-start;
    justify-content: space-between;
}

#ground {
    font-size: 21px;
    font-weight: 300;
    color: #007bff
}

.selectstyle {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.selectstyle:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}


@media (min-width: 576px) {

}

@media (min-width: 576px) {
    .starter-template {
        padding: 20px 15px;
        /* flex-wrap: wrap; */
        /* display: flex; */
        text-align: center;
    }
}
